<h1> Your Products Everywhere! </h1>

<%= link_to "New Products", new_product_path %>

<% @products.each do |product| %>
<table>
  <tr>
    <th>Name</th>
    <td><%= product.name %></td>

    <th>Description</th>
    <td><%= product.description %></td>

    <th>Price</th>
    <td><%= product.price %></td>
    <td><%= link_to "Edit", edit_product_path(product) %></td>
    <td><%= link_to "Show", product_path(product) %></td>
    <td><%= link_to "Delete", product_path(product), method: :delete %></td>
  </tr>
</table>
<% end %>
